<!DOCTYPE html>

<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12"><center><h1>Mars Hemispheres</h1></center><hr></div>
        </div>
        <div class="row">
            <div class="col-md-5" id="left">
                      <img src={{marsData1.image_url}} alt={{marsData1.image_url}} width="100%">
                      <h3>{{marsData1.title}}</h3>
            </div>
            <div class"col-md-1" id="filler"></div>
            <div class="col-md-5" id="right" >
            <img src={{marsData2.image_url}} alt={{marsData2.image_url}} width="100%">
            <h3>{{marsData2.title}}</h3>
            </div
        </div>   
        <div class="row">
            <div class="col-md-5" id="left">
                <img src={{marsData3.image_url}} alt={{marsData3.image_url}} width='100%'>
                <h3>{{marsData3.title}}</h3>
            </div>
            <div class"col-md-1" id="filler"></div>
            <div class="col-md-5" id="right">    
                <img src={{marsData4.image_url}} alt={{marsData4.image_url}} width='100%'>
                <h3>{{marsData4.title}}</h3>
            </div>    
        </div>	
 

      
    </div>
</body>

</html>